In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("C:/Users/Siddhi/Downloads/ProjectsDATA/StudentsPerformance.W1T3.csv")

In [20]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,NaN,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       998 non-null    object
 1   race/ethnicity               996 non-null    object
 2   parental level of education  998 non-null    object
 3   lunch                        987 non-null    object
 4   test preparation course      989 non-null    object
 5   math score                   993 non-null    float64
 6   reading score                979 non-null    float64
 7   writing score                988 non-null    float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [22]:
df.isnull().sum()

gender                          2
race/ethnicity                  4
parental level of education     2
lunch                          13
test preparation course        11
math score                      7
reading score                  21
writing score                  12
dtype: int64

In [23]:
df["math score"] = df["math score"].fillna(df["math score"].mean())

In [26]:
df["math score"]

0      72.0
1      69.0
2      90.0
3      47.0
4      76.0
       ...
995    88.0
996    62.0
997    59.0
998    68.0
999    77.0
Name: math score, Length: 1000, dtype: float64

In [27]:
df["math score"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

In [28]:
df["gender"].isnull()

0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: gender, Length: 1000, dtype: bool

In [29]:
df["reading score"] = df["reading score"].fillna(df["reading score"].mean())

In [32]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,NaN,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [31]:
df["writing score"] = df["writing score"].fillna(df["writing score"].mean())

In [33]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,NaN,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [34]:
df["math score"].isnull().sum()

np.int64(0)

In [35]:
df["reading score"].isnull().sum()

np.int64(0)

In [36]:
df["writing score"].isnull().sum()

np.int64(0)

In [37]:
df["gender"]=df["gender"].fillna("not known")

In [38]:
df["gender"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: gender, Length: 1000, dtype: bool

In [40]:
df["gender"].isnull().sum()

np.int64(0)

In [41]:
df.isnull().sum()

gender                          0
race/ethnicity                  4
parental level of education     2
lunch                          13
test preparation course        11
math score                      0
reading score                   0
writing score                   0
dtype: int64

In [42]:
df["race/ethnicity"]=df["race/ethnicity"].fillna("not knowm")

In [43]:
df["race/ethnicity"]

0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race/ethnicity, Length: 1000, dtype: object

In [44]:
df["race/ethnicity"].isnull().sum()

np.int64(0)

In [45]:
df["lunch"] = df["lunch"].fillna("tiffin")

In [46]:
df["lunch"].isnull().sum()

np.int64(0)

In [47]:
df["test preparation course"]= df["test preparation course"].fillna("incomplete")

In [48]:
df["test preparation course"].isnull().sum()

np.int64(0)

In [49]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    2
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [54]:
df = df.fillna("unknown")

In [55]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [56]:
df.duplicated().sum()

np.int64(0)

In [57]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
dtype: object